
*{
  margin: 0;

  padding: 0;
  box-sizing: border-box;
}
body {
  font-Family: 'monospace', sans-serif;
}

.App{
  background-image: url("./images/cold.jpg");
  background-size: cover;
  background-position: bottom;
  transition: .4 ease-in-out;
}

.App .warm {
  background-image: url("./images/warm.jpg");
}
main{
  min-height:100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 40px;
}
.search-box{
  width: 100%;
  margin: 0 0 auto;
}

.search-box .search-bar {

  display: block;
  width: 100%;
  padding:15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color:rgba(255, 255, 255, 0.897);
  border-radius:0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px  rgba(51, 40, 40, 0.897);
  color: #313131;
  font-size:  20px;
  transition: 0.4s ease;

}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75)
}

.location-box .location{
  color: #FFFFFF;
  font-size :32px;
 font-weight: 400;
 text-align: center;
 text-shadow:  3px 3px rgba(50,50,50,.5);


}
.location-box .date{
  color: #FFFFFF;
  font-size : 24px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,50,.5)
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgb(255, 255, 255);
  border-radius:16px;
  padding: 15px 25px;
  color: rgb(61, 52, 52);
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.2)
  ;
  text-align: center;
  box-shadow: 5px  5px rgba(0, 0, 0, 0.2);
}
.weather-box .weather{
  color: #f3cfcf;
  font-size:48px;
  font-weight: 400;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}